<ul class="list-inline list-unstyled">
    <!-- Twitter -->
    {% if member.twitter %}
    <li class="list-inline-item"><a target="blank" href="{{member.twitter}}"><i class="fab fa-twitter"></i></a></li>
    {% endif %}
    <!-- Linkedin -->
    {% if member.linkedIn %}
    <li class="list-inline-item"><a target="blank" href="{{member.linkedIn}}"><i class="fab fa-linkedin"></i></a></li>
    {% endif %}
    <!-- Github -->
    {% if member.github %}
    <li class="list-inline-item"><a target="blank" href="{{member.github}}"><i class="fab fa-github"></i></a></li>
    {% endif %}
    <!-- Personal Website -->
    {% if member.personalSite %}
    <li class="list-inline-item"><a target="blank" href="{{member.personalSite}}"><i class="fas fa-globe"></i></a></li>
    {% endif %}
    <!-- Google Scholar -->
    {% if member.scholar %}
    <li class="list-inline-item"><a target="blank" href="{{member.scholar}}"><i class="fab fa-google"></i></a></li>
    {% endif %}
    <!-- Orcid -->
    {% if member.orcid %}
    <li class="list-inline-item"><a target="blank" href="{{member.orcid}}"><i class="fab fa-orcid"></i></a></li>
    {% endif %}
    <!-- Research Gate -->
    {% if member.research-gate %}
    <li class="list-inline-item"><a target="blank" href="{{member.research-gate}}"><i class="fab fa-researchgate"></i></a></li>
    {% endif %}
</ul>
